includes:
    - vendor/saschaegerer/phpstan-typo3/extension.neon

parameters:
    level: 9
    paths:
        - Classes
    excludePaths:
        - Classes/Domain/Repository/CategoryRepository.php
    treatPhpDocTypesAsCertain: false
